@import '~bootstrap/scss/bootstrap';
@import './styles/sidebar';
@import './styles/variables';
@import './styles/scroll.scss';

body {
  background-color: #F7F9FC !important;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.new-company-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15rem;
  height: 15rem;
  border: 2px dashed gray;
  transition: 0.3s ease;

  > i{
    font-size: 60px;
  }

  &:hover{
    opacity: 0.5;
    cursor: pointer;
  }
}

.dashboard-field{
  margin-left: $sidebar-width;
  margin-top: $header-height + 20;

  @media (max-width: 1440px){
    &{
      margin-left: 0;
    }
  }
}

.with-header{
  margin-top: $header-height + 20;
}

.ttt{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 36%;
}