@import "../../../styles/variables";

.top-step{
    margin-top: $header-height + 15;
}

$company-card-color: #1B2430;

.card{
    display: flex;
    height: 9rem;
    flex-direction: row;
    border-radius: 10px;

    .left-part{
        width: 44%;
        background: $company-card-color;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-icon{
            font-size: 55px;
        }
    }

    .right-part{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .content{
        margin-top: 10px;
        color: #3a3a3a;
        width: 100%;
        padding-left: 1rem;

        h5,h6,h4{
            color: $company-card-color;
            font-weight: 800;
            margin-bottom: 0;
        }
    }

    .footer{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        padding-right: 1rem;
    }
    
    .company-btn{
        background: $company-card-color !important;
        border-radius: 17px !important;
    }
}

.new-company-card{

    display: flex;
    height: 8rem;
    flex-direction: row;
    border-radius: 10px;
    border: 2px dashed gray;
    transition: 0.4s ease;
    width: 90%;

    &-left{
        width: 40%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-right: 1px dashed gray;

        span{
            font-size: 50px;
            color: rgb(207, 207, 207);
        }
    }

    &-right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 17px;
        font-weight: 200;
        color: #4d4d4d;
    }

    &:hover{
        cursor: pointer;
        opacity: 0.5;
    }
}